In [ ]:
#pip install pandas numpy matplotlib 
# !pip install numpy
#!pip install scikit-learn
#!pip install pickle
#!pip install faiss-cpu

In [1]:
# DATA CLEANING
import pandas as pd

raw_df = pd.read_csv(r"C:\Users\Velpr\Documents\Swiggy\swiggy.csv") 

print(raw_df.info())
print(raw_df.isnull().sum())
print(raw_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB
None
id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64
0

In [2]:
print(raw_df.size)
print(raw_df.shape)
print(raw_df.head(5))

1633951
(148541, 11)
       id               name    city rating     rating_count   cost  \
0  567335     AB FOODS POINT  Abohar     --  Too Few Ratings  ₹ 200
1  531342  Janta Sweet House  Abohar    4.4      50+ ratings  ₹ 200
2  158203  theka coffee desi  Abohar    3.8     100+ ratings  ₹ 100
3  187912          Singh Hut  Abohar    3.7      20+ ratings  ₹ 250
4  543530      GRILL MASTERS  Abohar     --  Too Few Ratings  ₹ 250

                      cuisine          lic_no  \
0            Beverages,Pizzas  22122652000138
1               Sweets,Bakery  12117201000112
2                   Beverages  22121652000190
3            Fast Food,Indian  22119652000167
4  Italian-American,Fast Food  12122201000053

                                                link  \
0  https://www.swiggy.com/restaurants/ab-foods-po...
1  https://www.swiggy.com/restaurants/janta-sweet...
2  https://www.swiggy.com/restaurants/theka-coffe...
3  https://www.swiggy.com/restaurants/singh-hut-n...
4  https://www.swiggy.com/restaurants/grill-maste...

                                             address              menu
0  AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...  Menu/567335.json
1  Janta Sweet House, Bazar No.9, Circullar Road,...  Menu/531342.json
2         theka coffee desi, sahtiya sadan road city  Menu/158203.json
3    Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR  Menu/187912.json
4  GRILL MASTERS, ADA Heights, Abohar - Hanumanga...  Menu/543530.json

In [3]:
raw_df.columns

raw_df.dropna(subset=["name", "rating"], inplace=True)

In [ ]:
print(raw_df.size)
print(raw_df.shape)
print(raw_df.isnull().sum())
print(raw_df.duplicated().sum())

#print(raw_df.size,"\n",raw_df.shape,"\n")

1633005
(148455, 11)
id                0
name              0
city              0
rating            0
rating_count      0
cost             45
cuisine          13
lic_no          143
link              0
address           0
menu              0
dtype: int64
0

In [5]:
raw_df.drop(columns= ["link", "address", "menu", "lic_no"], inplace=True)

In [6]:
print(raw_df.size)
print(raw_df.shape)
print(raw_df.isnull().sum())
print(raw_df.duplicated().sum())

1039185
(148455, 7)
id               0
name             0
city             0
rating           0
rating_count     0
cost            45
cuisine         13
dtype: int64
0

In [7]:
raw_df.dropna(subset=["cuisine", "cost"], inplace=True)

In [8]:
print(raw_df.size)
print(raw_df.shape)
print(raw_df.isnull().sum())
print(raw_df.duplicated().sum())

1038786
(148398, 7)
id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
dtype: int64
0

In [11]:
# DATA PREPROCESSING

numerical_columns = raw_df.select_dtypes(include=['number']).columns
print("Numerical Columns:", numerical_columns)

categorical_columns = raw_df.select_dtypes(include=['object']).columns
print("Categorical Columns:", categorical_columns)

raw_df.head(5)

Numerical Columns: Index(['id'], dtype='object')
Categorical Columns: Index(['name', 'city', 'rating', 'rating_count', 'cost', 'cuisine'], dtype='object')

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"

In [ ]:
# filling nan values with median

raw_df['rating'].replace(['--','null', 'Na', 'NA', 'NaN','Not available', ''], pd.NA, inplace=True)
raw_df['rating'] = pd.to_numeric(raw_df['rating'], errors='coerce')

raw_df["rating"].fillna(raw_df["rating"].median(), inplace=True)  # Fill with median

raw_df.head(5)
raw_df.isnull().sum()

C:\Users\Velpr\AppData\Local\Temp\ipykernel_20100\2170453469.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_df['rating'].replace(['null', 'Na', 'NA', 'NaN','Not available', ''], pd.NA, inplace=True)
C:\Users\Velpr\AppData\Local\Temp\ipykernel_20100\2170453469.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_df["rating"].fillna(raw_df["rating"].median(), inplace=True)  # Fill with median

id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
dtype: int64

In [ ]:
# rating_count-change
# cost-special char --remove

# cuisine-change
# 8:15 To 11:30 Pm

In [13]:
# DATA CLEANING
raw_df["rating"] = pd.DataFrame(raw_df, columns=["rating"]).round(1)

raw_df["rating_count"] = raw_df["rating_count"].str.replace('+ ratings', '', regex=False)

# Convert "K" values to numeric
raw_df["rating_count"] = raw_df["rating_count"].replace("Too Few Ratings", "10")

raw_df["rating_count"] = raw_df["rating_count"].apply(lambda x: float(x.replace("K", "")) * 1000 if "K" in x else float(x))

In [14]:
# Replace "₹" symbol and convert values to numeric

raw_df['cost'] = raw_df['cost'].replace('[^0-9]', '', regex=True).astype(int)

In [15]:
# Cuisine column
# Find the most frequently occurring value in the 'cuisine' column
most_frequent_value = raw_df['cuisine'].value_counts().idxmax()

raw_df["cuisine"] = raw_df["cuisine"].replace("8:15 To 11:30 Pm", most_frequent_value)

In [16]:
# Creating "OnlyCity" coln with post-comma or keep original if no comma 
raw_df["OnlyCity"] = raw_df["city"].apply(lambda x: x.split(",", 1)[1] if "," in x else x)

print(raw_df)

            id                      name      city  rating  rating_count  \
0       567335            AB FOODS POINT    Abohar     4.0          10.0
1       531342         Janta Sweet House    Abohar     4.4          50.0
2       158203         theka coffee desi    Abohar     3.8         100.0
3       187912                 Singh Hut    Abohar     3.7          20.0
4       543530             GRILL MASTERS    Abohar     4.0          10.0
...        ...                       ...       ...     ...           ...
148536  553122          The Food Delight  Yavatmal     4.0          10.0
148537  562647  MAITRI FOODS & BEVERAGES  Yavatmal     4.0          10.0
148538  559435           Cafe Bella Ciao  Yavatmal     4.0          10.0
148539  418989               GRILL ZILLA  Yavatmal     4.0          10.0
148540  447770            Lazeez kitchen  Yavatmal     4.0          10.0

        cost                     cuisine  OnlyCity
0        200            Beverages,Pizzas    Abohar
1        200               Sweets,Bakery    Abohar
2        100                   Beverages    Abohar
3        250            Fast Food,Indian    Abohar
4        250  Italian-American,Fast Food    Abohar
...      ...                         ...       ...
148536   200            Fast Food,Snacks  Yavatmal
148537   300                      Pizzas  Yavatmal
148538   300            Fast Food,Snacks  Yavatmal
148539   250                 Continental  Yavatmal
148540   200                      Pizzas  Yavatmal

[148398 rows x 8 columns]

In [17]:
print(raw_df.size)
print(raw_df.shape)
print(raw_df.isnull().sum())
print(raw_df.duplicated().sum())

1187184
(148398, 8)
id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
OnlyCity        0
dtype: int64
0

In [18]:
# Save in Cleaned Data to CSV
raw_df.to_csv("C:/Users/Velpr/Documents/Swiggy/Cleaned_Data.csv", index=True)

In [ ]:
# ENCODING
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

cleaned_df = pd.read_csv("C:/Users/Velpr/Documents/Swiggy/Cleaned_Data.csv")

### Label Encoding
label_encoder = LabelEncoder()
cleaned_df["name_Encoded"] = label_encoder.fit_transform(cleaned_df["name"])

### One-Hot Encoding
# drop='first' avoids redundant columns
one_hot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')  
encoded_cols = one_hot_encoder.fit_transform(raw_df[["OnlyCity", "cuisine"]])

# Convert encoded array to DataFrame with appropriate column names
encoded_df = pd.DataFrame(encoded_cols, columns=one_hot_encoder.get_feature_names_out(["OnlyCity", "cuisine"]))

### Concatenate with Original DataFrame
cleaned_df = pd.concat([cleaned_df, encoded_df], axis=1)


print(cleaned_df)

        Unnamed: 0      id                      name      city  rating  \
0                0  567335            AB FOODS POINT    Abohar     4.0
1                1  531342         Janta Sweet House    Abohar     4.4
2                2  158203         theka coffee desi    Abohar     3.8
3                3  187912                 Singh Hut    Abohar     3.7
4                4  543530             GRILL MASTERS    Abohar     4.0
...            ...     ...                       ...       ...     ...
148393      148536  553122          The Food Delight  Yavatmal     4.0
148394      148537  562647  MAITRI FOODS & BEVERAGES  Yavatmal     4.0
148395      148538  559435           Cafe Bella Ciao  Yavatmal     4.0
148396      148539  418989               GRILL ZILLA  Yavatmal     4.0
148397      148540  447770            Lazeez kitchen  Yavatmal     4.0

        rating_count  cost                     cuisine  OnlyCity  \
0               10.0   200            Beverages,Pizzas    Abohar
1               50.0   200               Sweets,Bakery    Abohar
2              100.0   100                   Beverages    Abohar
3               20.0   250            Fast Food,Indian    Abohar
4               10.0   250  Italian-American,Fast Food    Abohar
...              ...   ...                         ...       ...
148393          10.0   200            Fast Food,Snacks  Yavatmal
148394          10.0   300                      Pizzas  Yavatmal
148395          10.0   300            Fast Food,Snacks  Yavatmal
148396          10.0   250                 Continental  Yavatmal
148397          10.0   200                      Pizzas  Yavatmal

        name_Encoded  ...  cuisine_Vietnamese,Snacks  cuisine_Waffle  \
0               1581  ...                        0.0             0.0
1              47399  ...                        0.0             0.0
2             112598  ...                        0.0             0.0
3              90268  ...                        0.0             0.0
4              34924  ...                        0.0             0.0
...              ...  ...                        ...             ...
148393        100625  ...                        0.0             0.0
148394         56559  ...                        0.0             0.0
148395         18406  ...                        0.0             0.0
148396         34943  ...                        0.0             0.0
148397         54899  ...                        0.0             0.0

        cuisine_Waffle,Bakery  cuisine_Waffle,Beverages  \
0                         0.0                       0.0
1                         0.0                       0.0
2                         0.0                       0.0
3                         0.0                       0.0
4                         0.0                       0.0
...                       ...                       ...
148393                    0.0                       0.0
148394                    0.0                       0.0
148395                    0.0                       0.0
148396                    0.0                       0.0
148397                    0.0                       0.0

        cuisine_Waffle,Burgers  cuisine_Waffle,Chinese  \
0                          0.0                     0.0
1                          0.0                     0.0
2                          0.0                     0.0
3                          0.0                     0.0
4                          0.0                     0.0
...                        ...                     ...
148393                     0.0                     0.0
148394                     0.0                     0.0
148395                     0.0                     0.0
148396                     0.0                     0.0
148397                     0.0                     0.0

        cuisine_Waffle,Desserts  cuisine_Waffle,Fast Food  \
0                           0.0                       0.0
1                           0.0                       0.0
2                           0.0                       0.0
3                           0.0                       0.0
4                           0.0                       0.0
...                         ...                       ...
148393                      0.0                       0.0
148394                      0.0                       0.0
148395                      0.0                       0.0
148396                      0.0                       0.0
148397                      0.0                       0.0

        cuisine_Waffle,Ice Cream  cuisine_Waffle,Snacks
0                            0.0                    0.0
1                            0.0                    0.0
2                            0.0                    0.0
3                            0.0                    0.0
4                            0.0                    0.0
...                          ...                    ...
148393                       0.0                    0.0
148394                       0.0                    0.0
148395                       0.0                    0.0
148396                       0.0                    0.0
148397                       0.0                    0.0

[148398 rows x 2695 columns]

In [20]:
import pickle

# Save the encoders to a pickle file
with open("encoding.pkl", "wb") as f:
    pickle.dump({"label_encoder": label_encoder, "one_hot_encoder": one_hot_encoder}, f)

print("Encoders saved successfully as encoding.pkl")

Encoders saved successfully as encoding.pkl

In [22]:
#To check pickle file contains numeric alone or not:

# Load pickle file
with open("encoding.pkl", "rb") as f:
    data = pickle.load(f)  # Load the stored encoders or DataFrame

# Check if all columns in DataFrame are numeric
if isinstance(data, pd.DataFrame):
    all_numeric = all(pd.api.types.is_numeric_dtype(data[col]) for col in data.columns)
    print("Is the DataFrame fully numeric?", all_numeric)

# Check if all values in dictionary or list are numeric
elif isinstance(data, dict):
    all_numeric = all(isinstance(value, (int, float)) for value in data.values())
    print("Is the Pickle data fully numeric?", all_numeric)

elif isinstance(data, list):
    all_numeric = all(isinstance(value, (int, float)) for value in data)
    print("Is the Pickle data fully numeric?", all_numeric)

Is the Pickle data fully numeric? False

In [23]:
# To convert dict data to numeric

if isinstance(data, dict):
    data = {key: float(value) if isinstance(value, (int, float)) else None for key, value in data.items()}

elif isinstance(data, list):
    data = [float(value) if isinstance(value, (int, float)) else None for value in data]

In [24]:
# Ensure numeric values & encoded sparse features

from scipy import sparse

# Drop original categorical cols    
numeric_df = cleaned_df.drop(columns=['name', 'city', 'cuisine', 'OnlyCity'])

# Combine as sparse matrix
# Converting categorical encoding to sparse matrix
encoded_sparse = sparse.csr_matrix(encoded_df.values)
Final_sparse_matrix = sparse.hstack([sparse.csr_matrix(numeric_df.values), encoded_sparse])

# Save sparse matrix
sparse.save_npz('encoded_data_sparse.npz', Final_sparse_matrix)

# Save numeric data as CSV
numeric_df.to_csv('Encoded_Numeric_Data.csv', index=False)

print("Data preprocessing completed successfully!")

Data preprocessing completed successfully!

In [25]:
# Verify Index Alignment After Loading

cleaned_df = pd.read_csv("C:/Users/Velpr/Documents/Swiggy/Cleaned_Data.csv", index_col=0)
encoded_df = pd.read_csv("Encoded_Numeric_Data.csv", index_col=0)

# Check if indices match
print(cleaned_df.index.equals(encoded_df.index))

True

In [26]:
# Recommendation Methodology
## Clustering with K-Mean
from sklearn.cluster import KMeans

# Define number of clusters (adjust based on dataset size)
kmeans = KMeans(n_clusters=5, random_state=42)

# Fit the model on the encoded data
encoded_df["Cluster"] = kmeans.fit_predict(encoded_df)

print(encoded_df.head())

                id  rating  rating_count  cost  name_Encoded  \
Unnamed: 0
0           567335     4.0          10.0   200          1581
1           531342     4.4          50.0   200         47399
2           158203     3.8         100.0   100        112598
3           187912     3.7          20.0   250         90268
4           543530     4.0          10.0   250         34924

            OnlyCity_ Nacharam & Malkajigiri,Hyderabad  \
Unnamed: 0
0                                                  0.0
1                                                  0.0
2                                                  0.0
3                                                  0.0
4                                                  0.0

            OnlyCity_ New BEL Road,Bangalore  OnlyCity_Abohar  \
Unnamed: 0
0                                        0.0              1.0
1                                        0.0              1.0
2                                        0.0              1.0
3                                        0.0              1.0
4                                        0.0              1.0

            OnlyCity_Adilabad  OnlyCity_Adityapur  ...  cuisine_Waffle  \
Unnamed: 0                                         ...
0                         0.0                 0.0  ...             0.0
1                         0.0                 0.0  ...             0.0
2                         0.0                 0.0  ...             0.0
3                         0.0                 0.0  ...             0.0
4                         0.0                 0.0  ...             0.0

            cuisine_Waffle,Bakery  cuisine_Waffle,Beverages  \
Unnamed: 0
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             0.0                       0.0
4                             0.0                       0.0

            cuisine_Waffle,Burgers  cuisine_Waffle,Chinese  \
Unnamed: 0
0                              0.0                     0.0
1                              0.0                     0.0
2                              0.0                     0.0
3                              0.0                     0.0
4                              0.0                     0.0

            cuisine_Waffle,Desserts  cuisine_Waffle,Fast Food  \
Unnamed: 0
0                               0.0                       0.0
1                               0.0                       0.0
2                               0.0                       0.0
3                               0.0                       0.0
4                               0.0                       0.0

            cuisine_Waffle,Ice Cream  cuisine_Waffle,Snacks  Cluster
Unnamed: 0
0                                0.0                    0.0        0
1                                0.0                    0.0        0
2                                0.0                    0.0        3
3                                0.0                    0.0        3
4                                0.0                    0.0        0

[5 rows x 2691 columns]

In [27]:
import pickle

# Ensure trained objects exist before saving

trained_columns = encoded_df.columns.tolist()

# Save it along with the model
save_data = {
    "kmeans": kmeans,
    "label_encoder": label_encoder,
    "one_hot_encoder": one_hot_encoder,
    "encoded_df": encoded_df,
    "trained_columns": trained_columns
}

# Save K-Means and Encoders using Pickle
with open("models.pkl", "wb") as f:
    pickle.dump(save_data, f)

print("K-Means & Encoders saved successfully as models.pkl")

K-Means & Encoders saved successfully as models.pkl

In [ ]:
import pickle

# Load existing pickle files
file_names = ["models.pkl", "encoding.pkl"]  
merged_data = {}

for file_name in file_names:
    with open(file_name, "rb") as f:
        data = pickle.load(f)
        merged_data.update(data) 

# Save the merged pickle file
with open("merged_models.pkl", "wb") as f:
    pickle.dump(merged_data, f)

with open("merged_models.pkl", "rb") as f:
    models = pickle.load(f)

label_encoder = models["label_encoder"]
print(type(label_encoder))  

print("Merged pickle file saved as 'merged_models.pkl'")

<class 'sklearn.preprocessing._label.LabelEncoder'>
Merged pickle file saved as 'merged_models.pkl'

In [49]:
# Save during training
kmeans_data = {
    'kmeans': kmeans,
    'features': list(encoded_df.columns)
}
with open("merged_models.pkl", "wb") as f:
    pickle.dump(kmeans_data, f)

In [ ]:
import pickle
import pandas as pd
import numpy as np

# Load encoded data
#encoded_df = pd.read_csv("Encoded_Numeric_Data.csv", index_col=0, dtype=np.float32)
with open("merged_models.pkl", "rb") as f:
    kmeans_data = pickle.load(f)
    kmeans = kmeans_data['kmeans']                   
    feature_names = kmeans_data['features'] 

feature_names = [f for f in feature_names if f != 'Cluster']

encoded_df = pd.read_csv(
    "Encoded_Numeric_Data.csv",
    usecols=["Unnamed: 0"] + feature_names,  
    index_col=0,
    dtype=np.float64
)

# Load cluster assignments (assuming they are already computed)
with open("merged_models.pkl", "rb") as f:
    models = pickle.load(f)

kmeans = models["kmeans"]
encoded_df = encoded_df.select_dtypes(include=["float64", "int64"])
encoded_df = encoded_df.astype(np.float64)  


encoded_df["Cluster"] = kmeans.predict(encoded_df)  


# Bundle everything into a dictionary
data_bundle = {
    "encoded_data": encoded_df,
    "clusters": encoded_df["Cluster"].values, 
    "kmeans": kmeans,  
}

# Save to pickle file
with open("final_encoded_clusters.pkl", "wb") as f:
    pickle.dump(data_bundle, f)

print("Encoded data and clusters successfully saved in final_encoded_clusters.pkl")

Encoded data and clusters successfully saved in final_encoded_clusters.pkl

In [8]:
print(data_bundle.keys())

dict_keys(['encoded_data', 'clusters', 'kmeans'])